
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    background-color: white;
    line-height: 100px;  
    margin-bottom: 20px;
}

#main-logo{
    vertical-align: middle;
}

#title{
    vertical-align: middle;
    font-weight: bold; 
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#main-logo{
    vertical-align: middle;
    margin: 5px 5px 5px 10px;
}

body{
    background-color: rgb(223, 223, 223);
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

li{
    margin: 15px 0;
}

#main-container{
    width:75%;
    background-color: white;
    border-radius: 5px;
    margin:  0 auto;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.task{
    height: 55px;
    border-bottom: 3px solid rgb(227, 234, 241) ;
    line-height: 52.5px;
    
}

.padding-side{
    padding: 0 50px;
}

.btn{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px; 
    border: none; 
}
.btn-blue{
    background-color: rgb(74, 182, 250);
    color: white;
    border: 1px solid rgb(74, 182, 250);
}

.btn-white{
    background-color: white;
    border: 1px solid white;
    background-color: rgb(223, 223, 223);
}


.triangle{
    font-size: 30px;
}
.main-bottom h2{
    margin-top: 20px;
}
.main-bottom h2, .main-bottom h3{
    color: black;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
   
    
}

.circle{
    display:inline-block;
    padding: 0 4px;
    margin-right: 6px;
    border: 1px solid black;
    border-radius: 50%;
}

.check{
    color: rgb(70, 224, 160);
    border: 1px solid rgb(70, 224, 160);
}

.uncheck{
    color: red;
    border: 1px solid red;
}

.green{
    border: 1px solid green;
    color: green;
}

.red{
    border: 1px solid red;
    color: red;
}


.marker{
    font-size: .65em;
    color:white;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px;
}

.tag-blue{
    background-color: rgb(36, 175, 255);
}

.tag-purple{
    background-color: purple;
}

.tag-pink{
    background-color: rgb(187, 78, 96);
}

.tag-lime{
    background-color: limegreen;
}

.tag-green{
    background-color: green;
}

.tag-orange{
    background-color: orange;
}